[Unit]
Description=SmartHome Monitor Client
After=network.target 

[Service]
Type=simple
ExecStart=/bin/sh -c "cd @PREFIX@-client && node iotclient.js"
Environment="NODE_PATH=/usr/lib/node_modules"



[Install]
WantedBy=multi-user.target

