[Unit]
Description=Smart Home Monitor Server
After=network.target 

[Service]
Type=simple
ExecStart=/bin/sh -c "cd @PREFIX@-server && node iotserver.js"
Environment="NODE_PATH=/usr/lib/node_modules"



[Install]
WantedBy=multi-user.target

